name: Windows Build

on:
  workflow_dispatch:
  
jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13' 

    - name: Qt installer
      run: |
        pip install -U pip
        pip install aqtinstall
        aqt install-qt windows desktop 6.9.0 msvc2022_64 -m all 

    - name: Add Qt to PATH
      run: echo "C:\Qt\6.9.0\msvc2022_64\bin" >> $GITHUB_PATH

          
    - name: Install dependencies
      run: |
        choco install cmake --installargs 'ADD_CMAKE_TO_PATH=System' -y
        choco install 7zip -y

    - name: Setup MSVC Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1

    - name: Configure with CMake
      run: |
        call scripts\build-arch.bat release x64
        call scripts\generate-bundle.bat release
      shell: cmd

    - name: Archive build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: moonlight-qt-windows
        path: build/
