name: Windows Build

on:
  workflow_dispatch:
  
jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      run: |
        git clone https://github.com/moonlight-stream/moonlight-qt
        cd moonlight-qt
        git submodule update --init --recursive
        cd ..
        dir 

    - name: Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13' 

    - name: Qt installer
      run: |
        pip install -U pip
        pip install aqtinstall
        aqt install-qt windows desktop 6.9.0 msvc2022_64 -m all --outputdir c:\Qt
        dir 
        
    - name: Add Qt to PATH
      run: echo "c:\Qt\6.9.0\msvc2022_64\bin" >> $GITHUB_PATH
      shell: bash
          
    - name: Install dependencies
      run: |
        choco install cmake --installargs 'ADD_CMAKE_TO_PATH=System' -y
        choco install 7zip -y
        qmake -v

    - name: Add 7-Zip to PATH    
      run: |
        echo "C:\Program Files\7-Zip" >> $GITHUB_PATH
        qmake -v
      shell: bash


    - name: Setup MSVC Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1

    - name: Configure with CMake
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        cd moonlight-qt
        call scripts\build-arch.bat release x64
        call scripts\generate-bundle.bat release
      shell: cmd

    - name: Archive build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: moonlight-qt-windows
        path: moonlight-qt\build\
